<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940539174983-i91ej0c18hb3dq7d750q72upnar2e55u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940539174983-i91ej0c18hb3dq7d750q72upnar2e55u</string>
	<key>API_KEY</key>
	<string>AIzaSyAGzNjIExvf84nMEfcN2eVuxLljyxdkpmY</string>
	<key>GCM_SENDER_ID</key>
	<string>940539174983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.verygoodcore.kubrs-app</string>
	<key>PROJECT_ID</key>
	<string>kubrs-a5890</string>
	<key>STORAGE_BUCKET</key>
	<string>kubrs-a5890.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940539174983:ios:5ab03a899b4b09718d5162</string>
</dict>
</plist>